* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 20px;
    height: 20px;
}

.search,
.shopping svg {
    display: flex;
    margin-left: 10px;
    gap: 20px;
    width: 45px;
    cursor: pointer;
}


.header_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    font-size: 12px;
}

.nav__link {

    display: inline-block;
    vertical-align: top;
    color: rgb(92, 89, 89);
    margin: 0 20px;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;
    font-weight: 400;
    line-height: 20px;

    &:hover {
        color: rgb(42, 41, 41);
    }
}

.credit_conditions {
    padding-top: 20px;
    background-color: #f5f5f7;
    width: 975px;
    margin: 0 auto;
}

.creditation_title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 400;

}

.credit_conditions_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 14px 0;
    gap: 25px;
}


.deals {
    display: flex;

}

.deals img {
    height: 24px;
}

.deals p {
    max-width: 145px;
    margin-left: 12px;
    line-height: 1.33337;
    font-weight: 400;
    font-size: 14px;
}

.deals__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    color: #06c;
    cursor: pointer;
}

.deals__link::after {
    content: "";
    display: block;
    width: 100%;
    display: none;
    height: 1px;
    background-color: #06c;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .3s;
}

.deals__link:hover::after {
    display: block;
    background-color: #06c;
}


.iphone_ad h1 {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    padding-bottom: 20px;
}

.price_ad {
    line-height: 1.42859;
    font-weight: 400;
    color: #1d1d1f;
}

.purchase_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.purchase {
    display: flex;
    text-decoration: none;
    position: relative;
    color: #06c;
    cursor: pointer;
    background-color: #f5f5f7;
    border-radius: 18px;
    padding: 12px 16px;
    margin: 6px 0;
}

.purchase__link {
    text-decoration: none;
    color: black;
}


.iphone_ad_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section {
    padding: 52px 0 22px;
}


.tabcontent img {
    width: 65%;
    height: 65%;
    border-radius: 12px;
}


.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.colors-iphone-buttons-click {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

}

.colors-iphone-buttons-click button {
    border: none;
    cursor: pointer;
    transition: .3s;
}


.colors-iphone-buttons-click button,
.Natural,
.Blue,
.white,
.Black:hover {
    &:hover {
        outline-style: solid;
        box-shadow: 0 0 0 4px rgb(228, 228, 228);
        scale: 1.1;
    }
}

.Natural {
    color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #a39683;



}

.Blue {
    color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #043458;


}

.White {
    color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(200, 199, 199);
}

.Black {
    color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #201D24;

}


.tabcontent:not(:first-child) {
    display: none;
}

.macbook_img img {
    transition: .3s;
}

.macbook_title {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.macbook_paragraph {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 25px;
}


.mackbook_statistic {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.macbook_colors {
    color: #0071E3;

    font-size: 24px;
    font-weight: 700;
}

.macbook_price {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;

}

.macbook_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.macbook_section {
    padding-top: 70px;
}

.mackbook_statistic {
    padding: 64px 0 50px 0;

}

.macbook_color_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.macbook_color_btn button {
    width: 155px;
    height: 42px;
    border: none;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}


.white_col {
    background: #CFE7FF;
    color: #797979;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        outline-style: solid;
        box-shadow: 0 0 0 4px rgb(228, 228, 228);
        scale: 1.1;
    }
}

.gray_col {
    background: #CFE7FF;
    color: #797979;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        outline-style: solid;
        box-shadow: 0 0 0 4px rgb(228, 228, 228);
        scale: 1.1;
    }
}


.active {
    background-color: #0071E3;
    color: white;
}


.macbook_ssection_second {
    padding: 40px 0 134px 0;
}

.macbook_price_choosing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.macbook_price_choosing button {
    background: transparent;
    cursor: pointer;
}

.macbook_memory {
    width: 321px;
    height: 57px;
    border-radius: 10px;
    border: 2px solid #CFE7FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &:hover {
        border: 2px solid #007FFF;
    }
}


.macbook_memory h3 {
    color: #000;
    font-size: 18px;
    font-weight: 600;


}

.prices {
    color: #000;

    text-align: right;
    font-size: 14px;
    font-weight: 600;
}